@model NeperiaDizionarioV2.Models.Parola
@{
    ViewData["Title"] = "Lista di Parole";
}

<div class="text-center">
    <h1 class="display-4">Edizione di Parola!!</h1>
 @using (Html.BeginForm())
{ 
  @Html.EditorFor(model => model.Termo, new { htmlAttributes = new { @class = "form-control" } })
  @Html.EditorFor(model => model.Peso,new { htmlAttributes = new { @class = "form-control" } })
  <div class="form-group">
            <div >
                <input type="submit" value="Salvar" class="btn btn-warning" /> |

                <a asp-action="index"  class="btn btn-primary" ><i class="fa fa-undo" aria-hidden="true"></i></a> 
            </div>
    </div>
    
 }
   
 </div>