@model NeperiaDizionarioV2.Models.Sinonimo
@{
    ViewData["Title"] = "Lista di Parole";
}

<div class="text-center">
    <h1 class="display-4">Cancelamento di Sinonimo !!</h1>
 @using (Html.BeginForm())
{ 
   @Html.EditorFor(model => model.Termo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
  <div class="form-group">
            <div >
                <button type="submit" value="Deletar" class="btn btn-warning" > <i class="fa fa-trash" aria-hidden="true"></i> </button>
                |

                <a asp-action="index"  class="btn btn-primary" ><i class="fa fa-undo" aria-hidden="true"></i></a> 
            </div>
    </div>
    
 }
   
 </div>